@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* Defina o tamanho de fonte base */
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  /* Aumente o espaço interno para melhorar a adaptabilidade */
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #c0c0c0;
  border-radius: 2rem;
  filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.3));
}

.logo {}

.logo img {
  width: 10rem;
  height: 140px;
  margin: 0 auto;
  max-width: 10rem;
  height: auto;
  border-bottom: 1px solid #000000;
}

.logo strong {
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  color: #000;
}

.menu {
  border-width: 1px;
  /* Define a largura da borda para 1 pixel */
}

.menuBotoes ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.menu li a {
  /*
  text-decoration: none;
  color: #000;
  text-align: center;
  padding: 0.5rem;
  margin-right: 20px;
  border-radius: 2rem;
  */
  margin: 0 auto;
}

.menu li a button {
  transition: background-color 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  background-color: #000000;
  color: #fff;
  padding: 0.5rem;
  width: 140px;
  margin-top: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.menu li a button:hover {
  background-color: #007bff;
}

.menu li a button.active {
  background-color: #000000;
  /* Cor ativa */
  color: #fff;
}

.saudacao {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: white;
}

.saudacao .img-container {}

.saudacao h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  /* Arredondar as bordas */
  width: 100%;
  /* Ajustar a largura conforme necessário */
}

h2 {
  text-align: center;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  padding: 20px;
}


.conteudo a {
  color: black;
  margin: 0 auto;
  font-size: 32px;
}

.atividades {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.atividadesEdit {
  font-size: 2rem;
  text-decoration: none;
}

.atividadesEdit i {
  margin-left: 0.4rem;
  margin-top: 1rem;
}

.fa-cog:before,
.fa-gear:before {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  filter: drop-shadow(10px 10px 1px rgba(0, 0, 0, 0.3));

}

#tartaruga {
  max-width: 25%;
  max-height: 25%;
  filter: blur(2px);
}

td button {
  background-color: #2a2b2c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 20px 0px 20px 0px;
}

#cadastros #atividades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10rem;
  width: 50%;
  margin-top: 20px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  padding: 0.5rem;
  width: 120px;
}

/* Estilos para os botões Excluir e Visualizar */

button:hover {
  background-color: #007bff;
}

/* Estilos para o cabeçalho da tabela */
th {
  background-color: #55aedb;
}

#cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}

tbody {
  border-radius: 20px 20px 0px 0px;
}

tr {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-content: center;
  background-color: #f2f2f2;
  filter: saturate(120%);
}

tr:last-child {
  border-bottom: 2px solid #0099ff;
  border-radius: 20px 20px 20px 20px;
}

table th:first-of-type {
  border-radius: 20px 0px 0px 0px;
}

table th:last-of-type {
  border-radius: 0px 20px 0px 0px;
}

/*
td:last-of-type button {
  border-radius: 20px 0px 0px 20px;
}
*/

th,
td {
  padding: 8px;
  font-size: 18px;
}

.img-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("https://cdn-icons-png.flaticon.com/512/6401/6401586.png");
  mask-image: url("https://w7.pngwing.com/pngs/45/906/png-transparent-drop-water-drops-thumbnail-nature-drops.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  object-position: center;
  object-fit: scale-down;
}

/*
teste
*/
#toggleSidebar {
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 50px;
  height: 50px;
}

.toggleSidebar:active {
  transform: rotate(135deg);
}

#toggleSidebar:hover {
  background-color: #0056b3;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  /* Inicialmente oculto */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #ffffff;
  transition: left 0.3s ease;
  /* Outros estilos da Sidebar */
  /* Adiciona uma transição suave para a largura */
}

#sidebar.open {
  left: 0;
  /* Expandido */
  z-index: 999;
}

#sidebar button {
  display: block;
  padding: 10px;
  font-size: 1.05em;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #444;
  border: none;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #555;
  padding: 12px;
}

#sidebar a {
  text-decoration: none;
}

#btnEditar {
  display: none;
  /* Inicialmente oculto */
}

.dropdown {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  filter: none !important;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  filter: none !important;
  background-color: white;
}

.dropdown-content a:hover {
  background-color: white;
  filter: none !important;
  color: #0056b3;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.botaoEdit{
  background-color: rgb(145, 194, 234);
  width: 65px;
  color: black;
}
.botaoEdit:hover{
  background-color: #0056b3;
  width: 65px;
  color: rgb(255, 255, 255);
}


.fa-solid {
  font-size: 1.4rem;
}

.fa-gear:hover {
  cursor: pointer;
  /*background-color: #007bff;*/
}

#sidebar button:hover {
  background-color: #555;
}

#menuSuspenso {
  filter: none;
}

#menuSuspensoContato {
  display: none;
}

#menuSuspensoAjuda {
  display: none;
}

main {
  display: flex;
  align-items: center;
}

#mainContent {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  /* margin-left: 0; */
  transition: margin-left 0.3s;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#headerContent.expanded {
  margin-left: 250px;
  /* Ajuste a margem conforme necessário para acomodar a largura da Sidebar */
  /* Outros estilos para ajustar o conteúdo principal */
  transition: margin-left 0.3s;
  z-index: 999;
}

#sidebar-button.expanded {
  margin-left: 260px;
  z-index: 999;
  /* Ajuste a margem conforme necessário para acomodar a largura da Sidebar */
  /* Outros estilos para ajustar o conteúdo principal */
}

main#sidebar-button {
  margin-left: 250px;
}

#menu-icon {
  display: none;
  /* Oculta o ícone em dispositivos desktop */
}

a:-webkit-any-link {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .conteudo {
    display: grid;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
  }

  .navbar-container {
    padding: 0.2rem;
    /* Reduzir o espaçamento interno do contêiner */
    border-radius: 1rem;
    /* Reduzir a borda do contêiner */
  }

  .logo img {
    width: 8rem;
    /* Reduzir o tamanho da imagem do logo */
    height: 120px;
    /* Reduzir a altura da imagem do logo */
  }

  .logo strong {
    font-size: 20px;
    /* Reduzir o tamanho da fonte do nome de usuário */
  }

  .menu li a {
    font-size: 16px;
    /* Reduzir o tamanho da fonte dos links do menu */
    padding: 0.3rem;
    /* Reduzir o espaçamento interno dos links do menu */
    margin-right: 10px;
    /* Reduzir a margem direita entre os links do menu */
  }

  .menu li a button {
    width: 120px;
    /* Reduzir a largura dos botões do menu */
    margin-top: 10px;
    /* Reduzir o espaçamento superior dos botões do menu */
    font-size: 18px;
    /* Reduzir o tamanho da fonte dos botões do menu */
  }

  header {
    /* Cor de fundo do novo header */
    padding: 10px 20px;
    width: 100%;
    /* Espaçamento interno do novo header */
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    /* Aumente o espaço interno para melhorar a adaptabilidade */
    justify-content: space-between;
  }

  /* Estilos para o elemento <a> */
  /* Estilos para o ícone do menu */
  i.fas.fa-bars.fa-2x {
    font-size: 24px;
    display: none;
    /* Tamanho do ícone do menu */
  }

  #menu-icon {
    place-items: center;
    display: block;
    color: #fff;
    /* Cor do ícone do menu */
    text-decoration: none;
    /* Remova o sublinhado do link */
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;
    align-content: center;
  }
}