#tartaruga {
    max-width: 25%;
    max-height: 25%;
    filter: blur(2px);
}
/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#cadastroatv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10rem;
    width: 50%;
    margin-top: 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 0.5rem;
    width: 120px;
}
/* Estilos para os botões Excluir e Visualizar */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    
}

button:hover {
    background-color: #2980b9;
}

/* Estilos para o cabeçalho da tabela */
th {
    background-color: #f2f2f2;
}

/* Estilos para o título da página */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 10%;
    border-radius: 5px;
}

/* Estilos para o link Sair e Acessar */
a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    width: 50%;
    border-radius: 5px;    
    margin-top: 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    width: 120px;
}
#cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}
h2 {

    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 10%;
    border-radius: 5px;
}
.atividades {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 2rem;
    justify-items: center;
    justify-content: center;
    align-content: center;
}
.atividade1 {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    border-radius: 2rem;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

a:hover {
    background-color: #2980b9;
}
